.admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 64px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-text {
  width:120px;
}

.logo-subtext {
    font-size: 0.8em;
    color: #888888;
}

.header-menu {
    /* flex: 1; */
    margin-left: 40px;
    margin-top: -10px;
    border-bottom: none;
}

.header-menu .ant-menu-item {
    font-size: 1em;
    color: #333333;
}

.user-profile {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
    cursor: pointer;
    color: #333333;
}
